.taskParam {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    width: 400px;
    height: 63px;

}

.taskDescription {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 570px;

}

.taskTitle {
    margin-bottom: 40px;

}

.paramLabel {
    color: #6f7782;
    margin-top: 12px;
    /*align-self: center;*/

}
.descriptionLabel {
    align-self: flex-start;
    margin-top: 10px;
    color: #6f7782;
}

.description {
    width: 400px;
}

.datePicker {
    width: 230px;
}