.taskParam {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 63px;
}

.taskDescription {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 570px;
}

.taskTitle {
    height: 43px;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 30px;
}
.taskTitleInput {
    font-size: .83em;
    font-weight: bolder;
}

.paramLabel {
    color: #6f7782;
    margin-top: 12px;
}
.descriptionLabel {
    align-self: flex-start;
    margin-top: 10px;
    color: #6f7782;
}

.description {
    width: 400px;
}

.datePicker {
    width: 230px;
}

.buttonWrapper {
    width: 70px;
    height: 36px;
    position: relative;
}

.buttonProgress {
    position: absolute;
    top: 20%;
    left: 30%;
}