.loginForm {

    width: 300px;
    margin: 100px auto;

    text-align: center;
}

.loginInput {
    width: 300px;
    margin-bottom: 10px;
}

.buttonWrapper {
    margin: 0 auto;
    width: 93px;
    height: 42px;
    position: relative;
}

.buttonProgress {
    position: absolute;
    top: 20%;
    left: 35%;
}
.error {
    display: block;
    color: red;
    margin-bottom: 10px;
}

.captchaForm {
    margin-bottom: 10px;
}
.updateIcon {
    cursor: pointer;
}